.symbolButtons {
   background-color: orange;
   border-radius: 5px;
   width:10%;
   border: 1px solid grey;
   color: white;
}

.resultclass {
   width: 50%;
   padding-right: 5px;
   border-radius: 5px;
   border: 1px solid grey;
}

.numberButton {
    background-color: silver;
    width:18%;
    border-radius: 5px;
    border: 1px solid grey;
    color: white;
}

.zeroButton {
     background-color: silver;
    width:50%;
    border-radius: 5px;
    border: 1px solid grey;
    color: white;
}
.zeroButton:active {
     background-color: blue;
      width:21%;
    border-radius: 5px;
    border: 1px solid grey;
    color: white;
     
}
.numberButton:active {
    background-color: skyblue;
    width:18%;
    border-radius: 5px;
    border: 1px solid grey;
    color: white;
}
.symbolButtons:active {
   background-color: blue;
   border-radius: 5px;
   width:10%;
   border: 1px solid grey;
   color: white;
}
